*{
    padding: 0%;
    margin: 0%;
}
.container{
    padding:20px;
    
}
h4{
    margin: 20px 0;
    font-size: 2rem;
    text-align: center;
}
input{
    padding: 15px;
    margin: 30px;

}
input[type=button]{
    padding: 5px 10px;
    cursor: pointer;
}

h1{
    text-align: center;
    padding: 20px;
    border: 3px solid red;
    
}