*{
    margin: 0;
    padding: 0;
    
}
.header{
    height: 100vh;
    width: 100%;
    background-image: url(images/image.png);
    background-position: center;
    background-size: cover;
    

}
nav{
    width: 100%;
    background-color: black;
    
}
.img{
    width: 150px;
    float: left;
    cursor: pointer;
   margin-top: 10px;

}
nav ul{
    margin-left: 60%;
}

nav  li{
    
    color: aliceblue;
    display: inline-block;
    padding: 20px;
    
}
nav li:hover{
    color: aqua;
    cursor: pointer;
}

.content{
    text-align: center;
    color: aliceblue;
    margin:250px 100px 100px ;
    font-size: 20px;
    padding: 20px;


}
.content h1{
    padding: 20px;
    font-size: 50px;
    text-transform: uppercase;
}

.main{
    background-color: black;
    height:300px;
    width: 100%;
}

.course{
    
    text-align: center;
    padding-top: 50px;

}

.course p{
    
    font-size: 15px;
    padding: 10px;
}

.row{
    margin:30px;
    display: flex;   

}
.coursecol{
    
    margin: 10px;
    border: 2px solid red;
    justify-content: space-between;
}

.coursecol:hover{
    cursor: pointer;
    background-color: chocolate;
}

.placement{
    background-color:green;
    margin-top: 20px;
    text-align: center;

}
.placementcon{
    background-color:rgb(139, 138, 138) ;
    padding: 10px;
    margin-top: 20px;
    height: 70px;
}
.placemntimg{
    margin: 20px;
    padding: 20px;
    display: flex;
}

.zoho{
    border: 2px solid red;
    margin: 30px;
    width: 300px;
    height: 300px;
}
.relevantz{
    border: 2px solid red;
    background-color: white;
    margin: 30px;
    width: 300px;
    height: 300px;
}
.zoho:hover{
    cursor: pointer;
    background-color:rgb(255, 255, 255);
}

.zoho input{
    width: 200px;
}
.payfees{
    display: flex;
}
.booking{
    margin:60px;
    text-align: center;
    text-transform: capitalize;

}
.book {
    
    padding: 20px;
    border: 2px solid black;
    
}
td{
    padding: 5px;

}

input[type=submit]{
    background-color: red;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

.bookimg{
    position: relative;
    top: 30px;

}

.payfees img{
    width: 800px;
    padding-left: 100px;
    border-radius:60%;
}

.footer{
    padding: 10px;
    background-color: rgb(101, 99, 99);
    
}

.footer h1,h4{
    color: aliceblue;
    text-align: center;
    

}