body{
    background-color: aqua;
}
form{
    width: 500px;
    height: 400px;
    background-color: blue;
    margin: 8% 30%;
}
h3{
    text-align: center;
    padding: 20px;
    color: aliceblue;
}
.username{
   margin: 30px;
   position: relative;
   top: 50px;
   left: 30px;
   
}
.username label{
    color: aliceblue;
}
.username input{
    width: 300px;
    height: 30px;
    padding-left: 20px;
  
}

button{
    width: 100px;
    height: 40px;
    position: relative;
    margin:50px 30px 0px 60px;
    background-color:yellowgreen;
    cursor: pointer;
}
button:hover{
    color:white;
    background-color: brown;
}